- provide :title, "Contact"
%section#contact.pages

  #contact-box
    = render 'contact_mailer/contact_me'

  #socialmedia-images
    #email
      = link_to 'mailto:me@mikakalathil.ca' do
        = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/email.png', alt: 'Email'
      %h4 Email Me

    #twitter
      = link_to 'https://www.twitter.com/MikaKalathil', target: '_blank' do
        = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/twitter.png', alt: 'Twitter'
      %h4 Laugh at my tweet*

    #linkedin
      = link_to 'http://ca.linkedin.com/in/mikakalathil', target: '_blank' do
        = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/linkedin.png', alt: 'LinkedIn'
      %h4 View my profile

    #facebook
      = link_to 'https://www.facebook.com/mika.kalathil', target: '_blank' do
        = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/facebook.png', alt: 'Facebook'
      %h4 Facebook Me
