- provide :title, "Contact"
%section#contact
  %h2 Contact Me

  #contact-box
    = render 'contact_mailer/contact_me'
  #socialmedia-images
    = link_to 'mailto:me@mikakalathil.ca' do
      = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/email.png', alt: 'Email', id: 'email'

    = link_to 'https://www.facebook.com/mika.kalathil', target: '_blank' do
      = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/facebook.png', alt: 'Facebook', id: 'facebook'

    = link_to 'http://ca.linkedin.com/in/mikakalathil', target: '_blank' do
      = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/linkedin.png', alt: 'LinkedIn', id: 'linkedin'

    = link_to 'https://www.twitter.com/MikaKalathil', target: '_blank' do
      = image_tag 'https://s3-us-west-2.amazonaws.com/mikaimages/socialmedia/twitter.png', alt: 'Twitter', id: 'twitter'