= form_for @project, :html => {id: 'add-project'}, url: projects_path, method: 'POST', remote: true do |f|
  = render 'layouts/error_messages.html.haml', object: f.object

  = f.label :name
  = f.text_field :name, :placeholder => 'Project name'

  = f.label :year
  = f.text_field :year, :placeholder => 'Project year'

  = f.label :description
  = f.text_area :description, :rows => 4, :placeholder => 'Enter project description'

  = f.label :link
  = f.text_field :link, :placeholder => 'Project link'

  = f.submit 'Add Project'