-provide :title, "Projects"
%section.projects#home

  = render 'layouts/flash'


  - if @projects.count == 0
    #section-container.no-items
      .alert
        .inner
          %p If your seeing this page either I haven't added any of my projects (which I should've) or my database is not working (more likely)! Please use the #{link_to 'contact', '/contact'} form and notify me!!
  - else
    #section-container
      - @projects.each do |project|
        - if project == @projects.last
          .project-box
            %h3.project-name #{project.name}

            %article.project-description
              %p #{project.description}

            %p.project-year Creation Year: #{project.year}

            %button.darkgreen-button
              = link_to 'View Details', project_path(project), :class => 'project-link'
        - else
          .project-box
            %h3.project-name #{project.name}

            %article.project-description
              %p #{project.description}

            %p.project-year Creation Year: #{project.year}

            %button.darkgreen-button
              = link_to 'View Details', project_path(project), :class => 'project-link'