-provide :title, "Projects"
= render partial: 'admin/projects', locals: { utility: 'addModal' }

%section.projects#home

  = render 'layouts/flash'

  %h3 All my mockups are available on #{link_to 'Dropbox', 'https://www.dropbox.com/sh/tdmxrykt1rnm95f/2z0C0E_f1s', :target => '_blank'}
  = render partial: 'admin/projects', locals: { utility: 'add' }
  = render 'projects/project_boxes'