= form_for @message, url: contact_path, authenticity_token: true, remote: true do |f|
  = render 'layouts/error_messages', object: f.object
  = render 'layouts/flash'
  = f.label :name
  = f.text_field :name, :placeholder => 'Enter your your name...'

  = f.label :email
  = f.text_field :email, :placeholder => 'Enter your email address...'

  = f.label :subject
  = f.text_field :subject ,:placeholder => 'Enter your subject...'

  = f.label :body
  = f.text_area :body, :placeholder => 'Enter your message...', :size => '25x15'

  = f.button 'Send', data: { disable_with: "Sending..."}, :id => 'send-button', :class => 'darkgreen-button'