= form_for @message do |f|
  = render 'layouts/error_messages', object: f.object
  = f.label :name
  = f.text_field :name, :placeholder => 'Enter your your name...'

  = f.label :email
  = f.text_field :email, :placeholder => 'Enter your email address...'

  = f.label :subject
  = f.text_field :subject ,:placeholder => 'Enter your subject...'

  = f.label :body
  = f.text_field :body, :placeholder => 'Enter your message...', :size => '25x100'

  = f.button :submit