!!!
%html
  %head
    %title #{ full_title(yield(:title))}
    = stylesheet_link_tag    :application, :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizer, :jquery, "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag('https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon.ico')
    = render 'layouts/shim'
  %body
    .wrapper
      %header
        = render 'layouts/header'

      = yield


    %footer
      = render 'layouts/footer'
    / Load JavaScript Last For Page Speed
    = javascript_include_tag :application
    = render 'layouts/analytics'