!!!
%html
  %head
    %title #{ full_title(yield(:title))}
    = stylesheet_link_tag    :application, :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "data-turbolinks-track" => true
    -#%link{ :rel => "stylesheet", :href => "http://basehold.it/24"}
    = csrf_meta_tags
    = favicon_link_tag('https://s3-us-west-2.amazonaws.com/mikaimages/logo/favicon.ico')
    = render 'layouts/shim'
  %body
    .wrapper
      %header
        = render 'layouts/header'

      = yield

    %footer
      = render 'layouts/footer'

    / Load JavaScript Last For Page Speed
    = javascript_include_tag 'jquery.min', 'bootstrap.min', :application
    = render 'layouts/analytics'